@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Mulish;
  }
  .horizontal {
    grid-column: span 2;
  }
  .vertical {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}